<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= foundUser.title %> | Linktree</title>
        <%- include('partials/favicon') %>
        <meta name="description" content="Linktree Clone">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/9d4449454b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/view.css">
    </head>
    <body>
        <nav>
           <img src="<%= foundUser.imgUrl %>">
           <p><%= foundUser.title %> </p> 
           <button class="copy" id="http://localhost:3000/<%= foundUser.title %>" onclick="copytoclipboard()">Copy link</button>
        </nav>
        
<div class="links-body">
    <div class="logo">
        <img src="<%= foundUser.imgUrl %>" alt="logo">
        <p class="title"><%= foundUser.title %> </p>
        <h5><%= foundUser.description %> </h5>
    </div>
    <div class="links">
        <div class="link-body">
            <a href="<%= foundUser.link1Url %>"  target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= foundUser.link1Name %> </p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="<%= foundUser.link2Url %>" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= foundUser.link2Name %></p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="<%= foundUser.link3Url %>" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= foundUser.link3Name %></p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="<%= foundUser.link4Url %>" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= foundUser.link4Name %></p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="<%= foundUser.link5Url %>" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= foundUser.link5Name %></p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="<%= foundUser.link6Url %>" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= foundUser.link6Name %></p>
            </div>
        </a>
        </div>
        
    </div>
</div>

<div class="foot-up">
    Get your own
    <a href="/" target="_blank" rel="noopener noreferrer">
         Linktree 
    </a>
</div>
<footer>
    Made with ❤️ by <a href="https://github.com/SudhansuuRanjan" target="_blank" rel="noopener noreferrer">Sudhanshu</a>
</footer>

<script src="scripts/script.js"></script>
    </body>
</html>