<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %> | Linktree</title>
        <%- include('partials/favicon') %>
        <meta name="description" content="Linktree Clone">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/9d4449454b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/view.css">
    </head>
    <body>
        <nav>
           <img src="<%= imgUrl %>">
           <p><%= title %> </p> 
           <button class="copy" id="http://localhost:3000/<%= title %>" onclick="copytoclipboard()">Copy link</button>
        </nav>
        
<div class="links-body">
    <div class="logo">
        <img src="<%= imgUrl %>" alt="logo">
        <p class="title"><%= title %> </p>
        <h5><%= description %> </h5>
    </div>
<!-- https://d1fdloi71mui9q.cloudfront.net/MLCksxkuTryYeE37ZPkK_ll6YABwvxeo16F8h -->
    <div class="links">
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Instagram</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Twitter</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Linkedin</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Website</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Github</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Github</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Github</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Github</p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="https://linktr.ee/Hackaruto" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p>Github</p>
            </div>
        </a>
        </div>
    </div>
</div>

<div class="foot-up">
    Get your own
    <a href="http://localhost/" target="_blank" rel="noopener noreferrer">
         Linktree 
    </a>
</div>
<footer>
    Made with ❤️ by Sudhanshu
</footer>

<script src="scripts/script.js"></script>
    </body>
</html>