<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %> | Linktree</title>
        <%- include('partials/favicon') %>
        <meta name="description" content="Linktree Clone">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/9d4449454b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/view.css">
    </head>
    <body>
        <nav>
           <img src="<%= imgUrl %>">
           <p><%= title %> </p> 
           <button class="copy" id="http://localhost:3000/<%= title %>" onclick="copytoclipboard()">Copy link</button>
        </nav>
        
<div class="links-body">
    <div class="logo">
        <img src="<%= imgUrl %>" alt="logo">
        <p class="title"><%= title %> </p>
        <h5><%= description %> </h5>
    </div>
<!-- https://d1fdloi71mui9q.cloudfront.net/MLCksxkuTryYeE37ZPkK_ll6YABwvxeo16F8h -->
    <div class="links">
        <div class="link-body">
            <a href="<%= url1 %>"  target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= title1 %> </p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="<%= url2 %>" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= title2 %></p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="<%= url3 %>" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= title3 %></p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="<%= url4 %>" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= title4 %></p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="<%= url5 %>" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= title5 %></p>
            </div>
        </a>
        </div>
        <div class="link-body">
            <a href="<%= url6 %>" target="_blank" rel="noopener noreferrer">
            <div class="link-cont">
                <p><%= title6 %></p>
            </div>
        </a>
        </div>
    </div>
    <button class="view-links"><a href="/create">Edit links</a></button>
</div>

<footer>
    Made with ❤️ by Hackaruto Team
</footer>
<a href="/register">Signup</a>
<script src="scripts/script.js"></script>
    </body>
</html>

